@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --background: #e3e3e3;
    --primary: #494c50;
    --secondary: #160094;
    --accent: #2929d6;
    --text: #000000;
	--text-reverse: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1c1c1c;
        --primary: #afb2b6;
        --secondary: #816bff;
        --accent: #2929d6;
        --text: #FFFFFF;
		--text-reverse: #000000
    }
} */

:root {
    /* --background: #f7f7f7;
    --primary: #ffe100;
    --secondary: #ffd624;
    --accent: #cc8e00;
    --text: #757f53;
	--text-reverse: #a1ac80; */
	--background: #f7f7f7;
    --primary: #67849e;
    --secondary: #aabed1;
    --accent: #81a6c7;
    --text: #060606;
	--text-reverse: #fafafa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #020303;
        --primary: #617f98;
        --secondary: #2e4356;
        --accent: #395e7f;
        --text: #fafafa;
		--text-reverse: #060606;
    }
}



body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fade-in-container>* {
    /* opacity: 0; */
    animation: fadeIn .4s forwards
}

.fade-in-container>:first-child {
    animation-delay: 0s
}

.fade-in-container>:nth-child(2) {
    animation-delay: .05s
}

.fade-in-container>:nth-child(3) {
    animation-delay: .1s
}

.fade-in-container>:nth-child(4) {
    animation-delay: .15s
}

.fade-in-container>:nth-child(5) {
    animation-delay: .2s
}

.fade-in-container>:nth-child(6) {
    animation-delay: .25s
}

.fade-in-container>:nth-child(7) {
    animation-delay: .3s
}

.fade-in-container>:nth-child(8) {
    animation-delay: .35s
}

.fade-in-container>:nth-child(9) {
    animation-delay: .4s
}

.fade-in-container>:nth-child(10) {
    animation-delay: .45s
}